.modal {
    background-color: rgba(0, 0, 0, .7);
}

/* Modal */
#imageModal .modal-dialog{
    max-width: 60%;
    width: 100%;
    height: calc(100vh - 50px);
}


.current-image {
    margin-top: 16px;
}

.current-image img {
    width: 100%;
    height: calc(100vh - 500px);
}

.owner-info .owner-avatar {
    width: 70px;
    height: 70px;
    margin-right: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.owner-info .owner-avatar img {
    width: 70px;
    height: 70px;
}    

.current-image-stats div i{
    font-size: 30px;
}

.comment-item {
    padding: 20px;
    background: rgba(0, 0, 0, .1);
}

.comment-item + .comment-item {
    margin-top: 8px;
}

.comment-owner-avatar {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.comment-owner-avatar img{
    width: 50px;
    height: 50px;
}

.comment-item-info span{
    font-size: 12px;
}

.current-image-comments-wrap {
    height: 100px;
    overflow-y: auto;
}