<!-- Image Modal -->
<div class="modal d-block" id="imageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
              <div class="current-image-info d-flex">
                <div class="owner-info d-flex align-items-center">
                  <div class="owner-avatar">
                      <img [src]="imageDetails?.owner.avatar" alt="">
                  </div>
                  <!-- /.owner-avatar -->
                  <div class="d-flex flex-column">
                      <span class="font-weight-bold">{{imageDetails?.owner.full_name}}</span>
                      <span class="text-secondary">{{imageDetails?.owner.city}}</span>
                  </div>
              </div>
              <!-- /.owner-info -->
              <div class="current-image-stats d-flex ml-auto" [id]="imageDetails?._id">
                  <div class="views-count d-flex flex-column align-items-center">
                    <i class="material-icons">visibility</i>
                      <span class="font-weight-bold">{{imageDetails?.views.length}}</span>
                  </div>
                  <div class="likes-count d-flex flex-column align-items-center ml-4">
                    <i class="material-icons">thumb_up</i>
                      <span class="font-weight-bold">{{imageDetails?.likes.length}}</span>
                  </div>
              </div>
              <!-- /.image-statistics -->
              </div>
              <!-- /.current-image-info -->
              <div class="current-image">
                  <img [src]="imageDetails?.url" alt="">
              </div>
              <!-- /.current-image -->
              <div class="current-image-comments-wrap mt-3">
                <ng-container *ngFor="let comment of imageDetails?.comments">
                    <div class="comment-item mb-4" [id]="comment?._id">
                        <div class="comment-item-details d-flex">
                            <div class="comment-owner-avatar">
                                <img [src]="comment.owner.avatar" alt="">
                            </div>
                            <!-- /.comment-owner -->
                            <div class="comment-item-info d-flex flex-column">
                                <h6 class="font-weight-bold">{{comment?.owner.full_name}}</h6>
                                <p class="comment-text">{{comment?.text}}</p>
                                <!-- <div class="edit-comment-form mt-4 d-none">
                                    <form name="editCommentForm-${_id}">
                                        <input type="text" name="editedComment-${_id}" id="editedComment-${_id}" class="form-control form-control-sm" value="${text}" required>
                                        <button type="submit" class="btn btn-primary btn-sm mt-3">Submit</button>
                                    </form>
                                </div>                        -->
                                <!-- /.edit-comment-form -->
                                <span class="text-secondary">{{comment?.time_update}}</span>
                            </div>
                            <!-- /.comment-item-info -->
                            <!-- <div class="ml-auto">
                                ${isOwner ? '<div class="edit-comment-wrap"><i class="fas fa-edit"></i></div> <div class="delete-comment-wrap"><i class="fas fa-trash-alt"></i></div>': ''}
                            </div> -->
                        </div>
                        <!-- /.comment-item-details -->
                        <div class="sub-comments"></div>
                        <!-- /.sub-comments -->
                    </div>
                    <!-- /.comment-item -->
                </ng-container>
              </div>
              <!-- /.current-image-comments-wrap -->
              <!-- <div class="add-comment-form mt-4">
                  <form name="addCommentForm">
                      <input type="text" name="comment" id="comment" placeholder="Write a comment" class="form-control form-control-sm">
                      <button type="submit" class="btn btn-primary btn-sm mt-3">Submit</button>
                  </form>
              </div> -->
              <!-- /.add-comment-form mt-4 -->
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Close</button>
        </div>
      </div>
  </div>
</div>
