<ng-container>
  <div class="row images">
    <div class="col-12 col-sm-6 col-md-4 col" *ngFor="let img of image?.images">
        <mat-card class="img-wrap" [id]="img?._id">
            <img mat-card-image [src]="img?.url" alt="My images">
            <mat-card-actions>
              <button mat-button>{{ img.views.length }} VIEWS</button>
              <button mat-button>{{ img.likes.length }} LIKES</button>
              <button mat-button class="remove-wrap">REMOVE</button>
            </mat-card-actions>
        </mat-card>
    </div>
  <!-- /.col-4 col -->
  </div>
  <!-- /.row -->
</ng-container>